<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="bower_components/webcomponentsjs/webcomponents.js"></script>
	<link rel="import" href="elements.html">

	<style type="text/css">
		core-drawer-panel:not([narrow]) #navicon {display: none}
		.content	{background-color: lightgray; width: 100%; height: 100%}
	</style>

	<script type="text/javascript">
		document.addEventListener('polymer-ready', function() {
			var app = document.querySelector('#app');
			app.page = '{{defaultModule}}';
		});
	</script>
</head>

<body fullbleed layout vertical>
	<template is="auto-binding" id="app">
		<core-drawer-panel id="drawer">

			<core-header-panel drawer style="background-color: gray">
				<core-toolbar>Ze Menu</core-toolbar>
				<core-menu selected="\{{page}}" valueattr="data-category">
					{{#each modules}}
					<core-item label="{{name}}" data-category="{{key}}"></core-item>
					{{/each}}
				</core-menu>
			</core-header-panel>


			<core-header-panel main>
				<core-toolbar>
					<core-icon-button icon="menu" id="navicon" onclick="document.getElementById('drawer').togglePanel()"></core-icon-button>
					<div>Ze Title</div>
				</core-toolbar>
				<core-pages selected="\{{page}}" valueattr="data-category">
					{{#each modules}}
					<section data-category="{{key}}">
						<h1>{{name}}</h1>
						<{{element}}></{{element}}>
					</section>
					{{/each}}
				</core-pages>
			</core-header-panel>

		</core-drawer-panel>
	</template>



</body>
</html>